target

# Java
*.class
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.mtj.tmp/
.idea/
*.iml
.gradle/
build/
reports/
target/

# Python
__pycache__/
*.py[cod]
.venv/
env/
.env/
.envrc
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
.pylint.d/
*.egg-info/
dist/
pip-wheel-metadata/
*.log

# Node
node_modules/

# Config and test data (if not needed in repo)
# Config.json
# TestData.csv

# OS files
.DS_Store
Thumbs.db